<!DOCTYPE html>
<html>
<head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159928530-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-159928530-1');
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Eduardo Campillos</title>
</head>
<body>
      <div>
          <h1>Technical Skills</h1>
          <div class="content">
              <p>
                Technical skills: 
                <li>
                  Python
                </li>
                <li>
                  HTML
                </li> 
              <p/>
              <p>
                Top quality designer. Proven in this amazing website layout.
              </p>
          </div>          
      </div>
</body>
</html>